---
- name: Install nginx
  yum: name=epel-release state=present

- name: Copy nginx configuration by templates
  template: src=nginx.conf dest=/etc/nginx/nginx.conf
  template: src=lb.conf dest=/etc/nginx/conf.d/lb.conf
  notify: restart nginx
